html, body {
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
}

div {
    border: 1px solid red;
}

.navbar {
    display: flex;
    padding: 1em 0;
    position: relative;
    min-height: 6.2375rem;
    border: 1px solid red;

}

.navbar > div {
    flex-grow: 1;
}
